*{
    font-family: 'Montserrat',serif;
}

.categories-list,
.collections-list {
    list-style: none;
}

.list-item {
    margin-top: 13px;
    font-size: 1em;
}

.card-title {
    font-size: 1em;
    margin-top: 10px;
}

.catalog-card .card-text {
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: center;
}

.catalog-card {
    margin-top: 1em;
}

.list-name{
    font-size: 1.5em;
    color: #4C57FF;
}


.catalog_card-title{
    font-size: 1em;
    padding: 1em 1em 0;
}

@media (max-width: 767px) {
    .catalog-card-title {
        font-size: 0.8em;
        padding: 0.7em 1em 0;
    }

    .btn-categories-dropdown{
        font-size: 0.9em;
    }
}